1 VERSIONINFO
FILEVERSION 0,9,11,1
PRODUCTVERSION 0,9,11,1
FILEOS 0x4
FILETYPE 0x1
{
 BLOCK "StringFileInfo"
 {
  BLOCK "041103A4"
  {
   VALUE "Comments", "This contains the Ming library which is licenced under the LGPL version 2.1 or later"
   VALUE "CompanyName", ""
   VALUE "FileDescription","MingHSP - Ming wrapper for HSP"
   VALUE "FileVersion", "1.0 beta11"
   VALUE "InternalName", "minghsp"
   VALUE "LegalCopyright","Copyright (C) 2003-2006 THAGA"
   VALUE "LegalTrademarks", ""
   VALUE "OriginalFilename", "minghsp.hpi"
   VALUE "PrivateBuild", ""
   VALUE "ProductName", "MingHSP"
   VALUE "ProductVersion", "1.0 beta11"
   VALUE "SpecialBuild", ""
  }
 }
 BLOCK "VarFileInfo"
 {
   VALUE "Translation", 0x0411, 0x03A4
 }
}
